@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:
    'Poppins',
    sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

body {
  max-width: 400px;
  width: 100%;
  min-height: 100vh;
}

.container {
  background: url("assets/images/header-shapes-mobile@2x.png") no-repeat;
  background-size: contain;
  background-position: 0 50px;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 44px;
  margin: auto;
  padding-top: 44px;
}

.my_logo {
  color: #6070ff;
  width: 76px;
  height: 20px;
  font-weight: bold;
  font-size: 25px;
  line-height: 20px;
  text-decoration: none;
}

.hamburger i {
  color: #6070ff;
  font-size: 25px;
}

.description {
  margin: auto;
  width: 80%;
  height: 604px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 154px 0;
}

.description h1 {
  height: 150px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  margin: 12px 0;
}

.socials {
  height: 20px;
  margin: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials li {
  margin-right: 10px;
  list-style-type: none;
}

.socials li a {
  text-decoration: none;
}

.socials li a i {
  font-size: 25px;
  color: #505f79;
}

.description p {
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.description h4 {
  height: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin: 12px 0;
}
